.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.card {
  border-radius: 14px;
  background-color: white;
  width: 450px;
  padding: 10px;
}
.title {
  text-align: center;
  font-family: sans-serif;
}

.button {
  padding: 10px;
}
.buttonNext {
  font-family: sans-serif;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.author {
  display: flex;
  justify-content: flex-end;
}
.icon {
  margin: 10px;
  padding: 5px;
}
.icon-twi {
  color: white;
  padding: 12px;
}
